@font-face {
  font-family: "iconfont"; /* Project id 2624376 */
  src: url('iconfont.eot?t=1624292259262'); /* IE9 */
  src: url('iconfont.eot?t=1624292259262#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1624292259262') format('woff2'),
       url('iconfont.woff?t=1624292259262') format('woff'),
       url('iconfont.ttf?t=1624292259262') format('truetype'),
       url('iconfont.svg?t=1624292259262#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kefu:before {
  content: "\e63f";
}

.icon-dianpu:before {
  content: "\e632";
}

.icon-shoucang:before {
  content: "\e6ab";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-dangao:before {
  content: "\e652";
}

.icon-liwu:before {
  content: "\e604";
}

